<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block head %}
    <title>PostgreSQL full-text search{% block title %}{% endblock %}</title>
    <link href="http://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    {% endblock %}
</head>
<body>
<h1>PostgreSQL full-text search{% block heading %}{% endblock %}</h1>
{% block content %}{% endblock %}
</body>
</html>
