{% extends "base.html" %}
{% block title %} - Welcome{% endblock %}
{% block heading %} - Welcome{% endblock %}
{% block content %}
<form method="get" action="/search" id="search-terms">
    <div>
        <label for="query">Search terms</label>
        <input id="query" name="query" type="search" 
            {% if terms is defined %}
                value="{{ terms }}"
            {% else %}
                placeholder="Input search terms here"
            {% endif %}
        autofocus />
    </div>
    <div><input type="submit" /></div>
</form>
{% endblock %}
